* {
  box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* CÍMSOR */


.hatter {
  background-color: hsla(100,0%,0%,.6);
  width: 100vw;
  height: 100vh;
}


.hatterkep {
  display: table;
  background-image:   url("https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-cover.jpg");
  width: 100vw;
  height: 100vh;
  background-position: 68% center;
  background-repeat: no-repeat;
  background-size: cover;
}

.focim {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.felirat {
  display: inline-block;
  padding: 5% 10%;
  background-color: rgba(0,0,0,0.3)
}

header div h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 10vw;
    color: #d2ba87;
    padding: 2rem;
    border-top: 1px solid white;
    margin-top: 20px;
    display: inline-block;
}

header div p {
    font-family: 'Libre Baskerville', serif;
    font-size: 3.5vw;
    color: white;
}

/* Helyszínek */

section {
  background-image: url("https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-background.png");
  text-align: center;
  background-repeat: repeat;
  background-position: center;
}

section h2 {
    font-family: 'Great Vibes', cursive;
    font-size: 2.5rem;
    color: #444349;
    padding: 2rem;
    font-weight:500;
}

section h3 {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.5rem;
    color: #444349;
    padding: 1.5rem;
    font-weight:600;
    
}

section p {
    font-family: 'Muli', serif;
    font-size: 1rem;
    color: #444349;
    padding: 5px;
    font-weight:700;
}

section div img {
  width: 25%;
  padding: 10px;
}

.vonal {
    display: inline-block;
    background-color: #444349;
    width: 25%;
    height: 3px;
    margin: 40px auto;
}

.vonal2 {
    display: inline-block;
    background-color: #d2ba87;
    width: 40%;
    height: 3px;
    margin: 40px auto;
}


/* Programok... */

.sotet {
  background-color: rgba(0,0,0,0.6);
  overflow: hidden;
  color: #d2ba87;
  padding-bottom: 50px;
}

.sotet h2 {
  color: #d2ba87;
}

.sotet h3 {
  color: #d2ba87;
  font-size: 1.3rem;
}

.sotet p {
  color: #d2ba87;
  font-size: 1rem;
}

.dolt {
  font-style: italic;
  margin-bottom: 20px;
}

.left {
  text-align: left;
  margin: auto 1rem;
}

.vastag {
    font-weight:900;
}

.kozep {
    text-align: center;
}

.kissebb {
    font-size: 1.1rem;
}

footer {
  display: table;
  width: 100%;
  height:100px;
  background-color: #606060;
  text-align:center;
  font-family:  'Muli', serif;
  font-size: 0.8rem;
  color: white;
  font-weight: 700;
  letter-spacing: 0.8px;
}

a {
  color: #bd806e;
  text-decoration: none;
}

a:hover {
  color: #eda087;
}

@media screen and (min-width: 1024px) {
    
.sorba {
        display: inline-block;
        width: 33%;
    }
    
section h2 {
        font-size: 4rem;
    }


.gifts img {
        width: 10%;
        padding: 10px;
    }
    
.cella {
        display: table-cell;
    }
    
.midle {
        margin: auto;
        width: 25%;
    }

.vonal2 {
    display: none;
    background-color: #d2ba87;
    width: 40%;
    height: 3px;
    margin: 40px auto;
}
    
}